body {
	margin: 0;
	border: 5px solid red;
	margin: 0% 10%;
	background-image: url("images/background.jpg");
}

h1 {
	border: 5px solid black;
}

div {
	border: 5px solid blue;
	padding: 5px;
	background-color: #E8FBFB;
	margin-top: 10px;
}

h2 span {
	border: 5px solid blue;
	border-style: dashed;
}

p > img {
	border: 5px solid violet;
}

div.one {
	background-color: white;
	border: none;
	padding: 4px;
}
