body {
	border: 10px solid white;
	margin: 0% 10%;
	background-image: url("images/background.jpg");
	box-sizing: border-box;
	font-size: 15pt;
}


div {
	border: 4px solid #C2E9E9;
	background-color: #E8FBFB;
	margin-top: 10px;
	float: right;
}

span {
	display: inline;
	border-bottom: 2px dashed blue;
	width: max-content;
}

img {
	float: right;
	margin-right: 10px;
}

p {
	overflow: hidden;
}

div.one {
	position: relative;
	background-color: white;
	border: none;
	margin: 0;
}

div.two {
	background-color: #A8F0F0;
	margin-top: 0px;
	text-align: right;
}

div.two h2 {
	font-size: 14pt;
}

#sidebar {
	position: absolute;
	width: max-content;
	padding: 12px;
}