body {
	border: 5px solid green;
	margin: 0% 10%;
	background-image: url("images/background.jpg");
	box-sizing: border-box;
}

h1 {
	border: 5px solid black;
}

div {
	border: 5px solid blue;
	background-color: #E8FBFB;
	margin-top: 10px;
}

h2 span {
	border: 5px solid blue;
	border-style: dashed;
	width: max-width;
}

img {
	float: right;
	margin-right: 10px;
}

p {
	overflow: hidden;
}

div.one {
	background-color: white;
	border: none;
	margin: 0;
}

div.two {
	background-color: white;
	border: 5px solid red;
	margin-top: 0px;
	text-align: right;
}

div span {
	display: block;
}